/**
 * 作者：PS    
 * 日期：2016-08-12
 * ================================
 * 
 * ================================
 * @require /app_core/libs/bootstrap/css/bootstrap.css
 * @require /app_core/libs/font-awesome/font-awesome.css
 * @require /app_core/libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
 * 
 */
html
{
	height: 100%;	
}

body
{
  /*padding: 50px 50px 50px 50px;*/
  font-family:"微软雅黑","宋体","Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  height: 100%;
  /*margin:0px;*/
  /*padding: 0px;*/
 
}
[v-cloak] {
  display: none;
}

[zk-disabled]{
	color: #666666;
}

[zk-disabled]:hover,
[zk-disabled]:focus{
	text-decoration: none;
	color: #666666;
	cursor: default;
}

/*占位符*/
.zk-ss
{
	/*font-family: 'Times New Roman';*/
	font-family:'宋体',Simsun;
	white-space:pre;
	visibility: hidden;
}
.zk-root-view
{
	padding: 15px;
	padding-bottom: 0;
}
.zk-view
{
	padding-bottom: 15px;
}
.zk-view .panel-heading{
	max-height: 43px;
	background-color: white;
}
/*zkView 头部文本*/
.zk-view .panel-heading .panel-title{
	float: left;
}

/*zkView 头部工具栏*/
.zk-view .panel-heading .head-tool{
	float: right;
	font-size: 13px;
	/*color: #c4c4c4;*/
}
.zk-view .panel-heading .head-tool .dropdown .dropdown-menu{
	left: auto;
	right: -30px;
}


/*右边padding为0*/
.zk-pr0
{
	padding-right: 0;
}

/*充满容器*/
.zk-full-h
{
	height: 100%;
}

.zk-full-h .row,
.zk-full-h .zk-view,
.zk-full-h .zk-view .panel
{
	height: 100%;
	margin-bottom: 0px;
}
.zk-full-h .zk-view .panel-body
{
	height: -moz-calc(100% - 43px);
	height: -webkit-calc(100% - 43px);
	height: calc(100% - 43px);
	overflow: auto;
}
.zk-list .panel-body
{
	padding:0px;
}

/*列表*/

.zk-list .search{
	overflow: auto;
	/*height: 130px;*/
	/*max-height: 130px;*/
	height: auto;
	padding:15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.zk-full-h .zk-list .search .form-group .form-control{
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

/*.zk-full-h .zk-list .search-min{
	height: 0px;
	padding: 0px;
}*/
.zk-view .panel{
	overflow:hidden;
	-webkit-transition:width 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    
    /*-webkit-transform: translate3d(0, 0, 0);
   	-moz-transform: translate3d(0, 0, 0);
   	-ms-transform: translate3d(0, 0, 0);
   	transform: translate3d(0, 0, 0);*/
}
/*.zk-full-h .zk-list .search-transition{
	-webkit-transition:height 1s ease-in-out;
	-moz-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}*/

.zk-list .search label{
	font-weight: normal;
	margin-top:4px;
	margin-bottom:auto;
}
.zk-list .search .checkbox-inline{
	margin-top:auto;
	margin-bottom:5px;
}
.zk-list .search .radio-inline{
	margin-top:auto;
	margin-bottom:5px;
}

.zk-list .search .search-btn div{
	float: left;
	margin-right: 3px;							
}

/*设置表格高度*/
.zk-full-h .zk-list .table-responsive{
	
	height: -moz-calc(100% - 180px);
	height: -webkit-calc(100% - 180px);
	height: calc(100% - 180px);
}
/*设置表格无搜索时高度*/
.zk-full-h .zk-list .table-responsive-nosearch{
	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: calc(100% - 50px);
}

.table-responsive table thead th{
	background-color: #f5f5f5;
	text-align: center;
}


.zk-list .table-responsive tr{
	white-space:nowrap;
	text-align: center;
}
.zk-list .table-responsive td{
	text-align: center;
}

/*分页样式*/
.zk-list .zk-pagination{
	height: 50px; 
	margin-bottom: 0px;
	text-align: center;
}

.zk-list .zk-pagination span
{
  	color: #FF0000;
}
.zk-list .zk-pagination .zk-pagination-btns
{
  	float: right;
}
.zk-list .zk-pagination .zk-pagination-info
{
	float: left;
}

.zk-min-list {
	border: 1px solid #ccc;
}

.zk-min-list .table-responsive{
	min-height: 200px;
}
.zk-list .table-responsive{
	min-height: 200px;
}

.modal-dialog .zk-list .table-responsive{
	max-height: 500px;
}

.zk-list .panel{
	margin-bottom : 0px;
}

.zk-list-nb .panel{
	border: none;
}

.form-group .zk-view{
	padding-bottom:0px;
}

.form-horizontal .form-inline .form-group{
	margin-left: 0px;
	margin-right: 0px;
} 
/**
 * 兼容layer
 */
.layui-layer-btn{
	background-color:white;
}
/*
 * Firefox 和 fieldset 元素Firefox 浏览器对 fieldset 元素设置了一些影响 width 属性的样式，
 * 导致响应式表格出现问题。除非使用我们下面提供的针对 Firefox 的 hack 代码，否则无解：
 */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/**************************************modal样式***************************************/
.modal-lg .zk-edit{
	padding-right: 55px;
}

.zk-edit .control-label
{
	padding-right: 0px;
}


/*使编辑框中输入框组和表单输入框组保持一致*/
.zk-edit .form-group .input-group
{
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

.zk-edit .form-group .thumbnail
{
	width: 22%;
	float: left;
	margin-right: 15px;
}

.zk-edit .form-group .control-label
{
	font-weight: normal;
}

.form-horizontal .checkbox,
.form-horizontal .radio{
	padding-right: 10px;
	float: left;
}
.modal-footer{
	text-align: center;
}

.modal{
	overflow-y: auto !important;
}

/*手机尺寸*/
@media (max-width: 767px) {
	.zk-root-view
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	/*右边padding为0*/
	.zk-pr0
	{
		padding-right: 15px;
	}
	
	.zk-full-h .zk-list .search{
		height: auto;
		max-height: none;
	}
	.zk-full-h{
		height: auto;
	}
	.zk-full-h .zk-view .panel-body
	{
		height: auto;
	}
	/*分页样式*/
	.zk-list .zk-pagination{
		height: 100px; 
		margin-bottom: 0px;
		text-align: center;
	}
	
	.zk-list .zk-pagination .zk-pagination-btns
	{
	  	float:none;
	}
	.zk-list .zk-pagination .zk-pagination-info
	{
		float: none;
		padding-bottom: 10px;
	}
	
	.zk-edit .form-group
	{
		margin-bottom: 0px;
	}
	.zk-edit .form-group .control-label
	{
		margin-top: 15px;
	}
	.zk-edit :first-child :first-child
	{
		margin-top: 0px;
	}
}

/*大于手机尺寸*/
@media (min-width: 768px) 
{
	.zk-list .search .form-group .form-control{
		width: 150px;
	}
    .zk-list .search .form-group{
		padding-bottom: 10px;
		padding-right: 10px;
	}
	.zk-edit .form-group > div
	{
		padding-left: 9px;
	}
	.zk-edit .form-group >  .input-group
	{
		padding-left: 9px;
	}
}

/*大于平板尺寸*/
@media (min-width: 992px)
{

}

/*普通大屏*/
@media (min-width: 1199px) {

}

/*主流大屏*/
@media (min-width: 1920px) {

}