
.pay-qr-code-page {
	bottom: 0;
	left: 0;
	position:absolute;
	height:98%;
	width: 100%;
	z-index:2;
	overflow: hidden;
	background-color: #FFFFFF;
}

/*针对本页面调整二维码位置*/
.pay-qr-code-page .main{
	top: 45% !important;
}
