
	.good-detail {
		background-color: #F5F5F5;
	}
	
	.good-detail .home-img {
		height: 240px;
	}
	
	.good-detail .title {
		margin-top: 10px;
		padding-top: 7.5px;
		padding-bottom: 7.5px;
		padding-left: 12px;
		padding-right: 12px;
		background-color: white;
		line-height: 20px;
	}
	
	.good-detail .title .title-text {
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 9.5px;
		padding-left: 0px;
	}
	
	.good-detail .title .tags {
		overflow: hidden;
	}
	
	.good-detail .title .tag {
		background-color: #F5F5F5;
		padding-left: 7.5px;
		padding-right: 7.5px;
		padding-top: 4px;
		padding-bottom: 4px;
		border-radius: 6px;
		/*no*/
		font-size: 12px;
		float: left;
		margin-right: 10px;
	}
	
	.good-detail .title .price {
		margin-top: 9.5px;
		font-size: 17px;
		margin-bottom: 2px;
		color: #ff2626;
	}
	
	.good-detail .title .price span {
		padding-left: 2px;
		padding-right: 2px;
	}
	
	.good-detail .detail {
		background-color: white;
		margin-top: 10px;
		color: #333333;
	}
	
	.good-detail .detail-title {
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 14px;
		font-weight: bold;
	}
	
	.good-detail .detail-content {
		padding: 12px;
		font-size: 14px;
	}
	
	.good-detail .detail-content p {
		text-indent: 25px;
	}
	
	.good-detail .detail-img {
		padding: 12px;
	}
	
	.good-detail .detail-opt {
		background-color: white;
		overflow: hidden;
		height: 49px;
	}
	
	.good-detail .detail-opt .left-btn {
		width: 19%;
		text-align: center;
		float: left;
	}
	
	.good-detail .detail-opt .left-interval{
		width: 2%;
		float: left;
		height: 34px;
		margin-top: 7.5px;
		margin-bottom: 7.5px;
	}
	
	.good-detail .detail-opt .left-interval div{
		margin: 0 auto;
		width: 1px;/*no*/
		height: 100%;
	}
	
	.good-detail .detail-opt .left-btn-shopimg {
		width: 17px;
		height: 17px;
		margin: 0 auto;
		margin-top: 10px;
		background-image: url(common/img/icon16.png);
		background-size: contain;
	}
	
	.good-detail .detail-opt .left-btn-shoplistimg {
		width: 17px;
		height: 17px;
		margin: 0 auto;
		margin-top: 10px;
		background-image: url(common/img/icon17.png);
		background-size: contain;
	}
	
	.good-detail .detail-opt .left-btn-text {
		font-size: 12px;
		margin-top: 2px;
		color: #9a9a9a;
	}
	
	.good-detail .detail-opt .right-btn-add-car {
		width: 30%;
		height: 100%;
		background-color: #fABF35;
		color: #ffffff;
		text-align: center;
		line-height: 49px;
		font-size: 14px;
		float: left;
	}
	
	.good-detail .detail-opt .right-btn-add-car:active {
		background-color: #FFDB99;
	}
	
	.good-detail .detail-opt .right-btn-buy {
		width: 30%;
		height: 100%;
		background-color: #FF9900;
		color: #ffffff;
		text-align: center;
		line-height: 49px;
		font-size: 14px;
		float: left;
	}
	
	.good-detail .detail-opt .right-btn-buy:active {
		background-color: #FFDB99;
	}