
.select-area{
	margin-top: 10px;	
	background-color: #F5F5F5;
}

.select-area .address{
	background-color: white;
	height: 49px;
	position: relative;
	line-height: 49px;
	font-size: 15px;
	padding-left: 13px;
}

.select-area .address span{
	padding-right: 31px;
}

.select-area .row{
	background-color: white;
	height: 49px;
	position: relative;
	line-height: 49px;
	font-size: 15px;
	padding-left: 13px;
}
.select-area .row:active{
	background-color: gray;
}
.select-area .row span{
	height: 18px;
	width: 18px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	float: right;
	right: 12px;
	display: block;
	background-image: url('common/img/icon8.png');
	background-size: contain;
}
