.shoplist{
	background-color: #F5F5F5;
	margin-top: 10px;
}
.sl-content{
	background-color: white;
}

.shoplist .sl-title{
	padding-left: 17px;
	padding-right: 17px;
	height: 49px;
	border-bottom: 1px dotted #333333;/*no*/
	padding-top: 12px;
	padding-bottom: 12px;
	position: relative;
}

.shoplist .sl-checkbox{
	height: 100%;
	float: left;
	margin-right: 9px;
	vertical-align:middle;
}


.shoplist .sl-checkbox span{
	height: 17px;
	width: 17px;
	position: relative;
	top: 50%;
	margin-top: -8.5px;
	background-image: url('common/img/icon10.png');
	background-size: contain;
	display: block;
}
.shoplist .sl-checkbox.active span{
	background-image: url('common/img/icon9.png');
}

.shoplist .sl-title .sl-title-text{
	float: left;
	margin-left: 16px;
	font-size: 13px;
	font-weight: bold;
	line-height: 24px;
	height: 100%;
}
.shoplist .sl-title .sl-tags{
	float: left;
	height: 100%;
	width: auto;
	line-height: 23px;
	padding-left: 4.5px;
	padding-right: 4.5px;
}
.shoplist .sl-title .sl-tags span{
	float: left;
	width: 15px;
	height: 15px;
	display: block;
	background-size: contain;
	margin-top: 4.5px;
}
.shoplist .sl-title .sl-title-r{
	float: left;
	background-size: 100% 100%;
	background-image: url('common/img/icon8.png');
	height: 100%;
	width: 29px;
}


.sl-tags .company{
	background-image: url('common/img/icon11.png');
}

.shoplist .sl-title .ui-avatar{
	height: 23px;
	width: 23px;
	float: left;
}

.shoplist .sl-title .sl-edit-btn{
	height: 100%;
	float: right;
	font-size: 12px;
	line-height: 24px;
}

.shoplist .shop-row{
	padding-left: 17px;
	padding-right: 17px;
	height: 91px;
}

.shoplist .shop-row .shop-img{
	float: left;
	width: 70px;
	height: 100%;
	position: relative;
}

.shoplist .shop-row .shop-img-block{
	position: absolute;
	top: 50%;
	margin-top: -35px;
	width: 70px;
	height: 70px;
	background-color: green;
}

.shoplist .shop-row .shop-detail{
	float: left;
	padding-left: 9.5px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 239px;
	height: 100%;
	position: relative;
}

.shoplist .shop-row .shop-title{
	font-size: 13px;
	float: left;

}
.shoplist .shop-row .shop-pc{
	width: 100%;
	height: auto;
	position: absolute;
	float: left;
	bottom: 10px;
}
.shoplist .shop-price{
	font-size: 17px;
	float: left;
	font-weight: bold;
	color: #ff2626;
}

.shoplist .shop-row .shop-count{
	float: right;
	font-size: 12px;
	line-height: 24px;
	color: #A0A0A0;
}

.shoplist .tools-btns{
	position: absolute;
	bottom: 0px;
	background-color: white;
	height: 49px;
	width: 100%;
	line-height: 49px;
	text-align: right;
}

.shoplist .tools-btns .pay{
	float: right;
	width: 140px;
	text-align: center;
	color: white;
	background-color: #F8BF36;
	margin-left: 10px;
}

.shoplist .tools-btns .pay span{
	background-image: url('common/img/icon11.png');
	background-color: red;
	width: 25px;
	height: 25px;
}

.shoplist .tools-btns .pay:active{
	background-color: #FFDB99;
}
