.error-page .prompt-box{
	height: 122px;
	width: 100%;
	margin-top: 118px;
	font-size: 19px;/*px*/
	color: #cd0101;
	line-height: 122px;
	text-align: center;
}

.error-page .not-found-box{
	width: 100%;
	height: 141px;
	background:url(/app_common/img/page_not_found.png) no-repeat center center;
	background-size: contain;
}

.error-page .back-box{
	margin-top: 33px;
	font-size: 11px;/*px*/
	color: #000000;
	text-align: center;
}
