.layui-m-layer0 .zk-layer {
	width: 73.56%;
}
.zk-layer .layui-m-layerbtn{
	padding-bottom: 20px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	width: 84.153%;
	
}

/*内容padding*/
.zk-layer .layui-m-layercont{
	font-size: 16px;
	padding: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

/*按钮通用样式*/
.zk-layer .layui-m-layerbtn span{
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	border-radius: 6px;
}

/*取消按钮*/
.zk-layer .layui-m-layerbtn span[no]{
	border-right: 0px;
	background-color: #FBBF36;
	width: 105px;
	margin-right: 5px;
}

/*确定按钮*/
.zk-layer .layui-m-layerbtn span[yes]{
	background-color: #FBBF36;
	width: 105px;
	margin-left: 5px;
}

.zk-layer .layui-m-layerbtn span:active{
	background-color: #AA8225;
}