<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>秒银主页</title>
		<meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
		<meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
		<!--加载公共Head部分 编译时整体替换-->
		<link rel="import" href="/common/head.html?__inline">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<!--[if lt IE 9]>
    		<meta http-equiv="refresh" content="0;url='/app/html/ie.html'" />
    	<![endif]-->
		<link rel="shortcut icon" href="favicon.ico">
	</head>

	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
		<div id="wrapper">
			<!--左侧导航开始-->
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="nav-close"><i class="fa fa-times-circle"></i>
				</div>
				<div class="sidebar-collapse">
					<ul class="nav" id="side-menu">
						<li class="nav-header">
							<div class="dropdown profile-element">
								<span><img alt="image" class="img-circle" src="/libs/hplus/img/profile_small.jpg" /></span>
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold" v-text="userInfo.userName"></strong></span>
									<span class="text-muted text-xs block" v-cloak>{{userInfo.userTitle}}<b class="caret"></b></span>
									</span>
								</a>
								<ul class="dropdown-menu animated fadeInRight m-t-xs">
									<!--<li>
										<a class="J_menuItem" href="form_avatar.html">修改头像</a>
									</li>
									<li>
										<a class="J_menuItem" href="profile.html">个人资料</a>
									</li>
									<li>
										<a class="J_menuItem" href="contacts.html">联系我们</a>
									</li>
									<li>
										<a class="J_menuItem" href="mailbox.html">信箱</a>
									</li>
									<li class="divider"></li>-->
									<li>
										<a href="#" @click="loginOut()">安全退出</a>
									</li>
								</ul>
							</div>
							<div class="logo-element">展开</div>
						</li>
						<li v-for="item1 in AsideMenueList" v-show="userInfo.funcPermission[item1['FuncName']]||item1['FuncName']==undefined">
							<template v-if="item1.html">
								{{{item1.html}}}
							</template>
							<template v-if="!item1.html">
								<a href="#" v-bind:href="item1.link">
									<i v-bind:class="item1.iconClass"></i>
									<span class="nav-label" v-text="item1.name"></span>
									<span class="fa arrow" v-if="item1.submenu"></span>
								</a>
								<ul class="nav nav-second-level" v-if="item1.submenu">
									<li v-for="item2 in item1.submenu" v-show="userInfo.funcPermission[item2['FuncName']]||item2['FuncName']==undefined">
										<template v-if="item2.html">
											{{{item2.html}}}
										</template>
										<template v-if="!item2.html">
											<a href="#" v-bind:class="{'J_menuItem':!item2.submenu}" v-bind:href="item2.link">
												<i v-bind:class="item2.iconClass"></i>
												<span class="nav-label" v-text="item2.name"></span>
												<span class="fa arrow" v-if="item2.submenu"></span>
											</a>
											<ul class="nav nav-third-level collapse" v-if="item2.submenu">
												<li v-for="item3 in item2.submenu" v-show="userInfo.funcPermission[item3['FuncName']]||item3['FuncName']==undefined">
													<template v-if="item3.html">
														{{{item3.html}}}
													</template>
													<template v-if="!item3.html">
														<a v-bind:class="{'J_menuItem':!item3.submenu}" v-bind:href="item3.link">
															<i v-bind:class="item3.iconClass"></i>
															<span class="nav-label" v-text="item3.name"></span>
															<span class="fa arrow" v-if="item3.submenu"></span>
														</a>
													</template>
												</li>
											</ul>
										</template>
									</li>
								</ul>
							</template>
						</li>
					</ul>
				</div>
			</nav>
			<!--左侧导航结束-->
			<!--右侧部分开始-->
			<div id="page-wrapper" class="gray-bg dashbard-1">
				<div class="row border-bottom">
					<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
						<div class="navbar-header">
							<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
						</div>
						<ul class="nav navbar-top-links navbar-right" style="visibility: hidden;">
							<li class="dropdown">
								<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
									<i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
								</a>
								<ul class="dropdown-menu dropdown-messages">
									<li class="m-t-xs">
										<div class="dropdown-messages-box">
											<a href="profile.html" class="pull-left">
												<img alt="image" class="img-circle" src="/libs/hplus/img/a7.jpg">
											</a>
											<div class="media-body">
												<small class="pull-right">46小时前</small>
												<strong>占位</strong> 占位占位占位占位占位占位
												<br>
												<small class="text-muted">3天前 2014.11.8</small>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li>
										<div class="dropdown-messages-box">
											<a href="profile.html" class="pull-left">
												<img alt="image" class="img-circle" src="/libs/hplus/img/a4.jpg">
											</a>
											<div class="media-body ">
												<small class="pull-right text-navy">25小时前</small>
												<strong>占位</strong> 内容内容内容内容内容内容
												<br>
												<small class="text-muted">昨天</small>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li>
										<div class="text-center link-block">
											<a class="J_menuItem" href="mailbox.html">
												<i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
											</a>
										</div>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
									<i class="fa fa-bell"></i> <span class="label label-primary">8</span>
								</a>
								<ul class="dropdown-menu dropdown-alerts">
									<li>
										<a href="mailbox.html">
											<div>
												<i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
												<span class="pull-right text-muted small">4分钟前</span>
											</div>
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="profile.html">
											<div>
												<i class="fa fa-qq fa-fw"></i> 3条新回复
												<span class="pull-right text-muted small">12分钟钱</span>
											</div>
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<div class="text-center link-block">
											<a class="J_menuItem" href="notifications.html">
												<strong>查看所有 </strong>
												<i class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>
								</ul>
							</li>
							<li class="hidden-xs">
								<a href="index_v1.html" class="J_menuItem" data-index="0"><i class="fa fa-cart-arrow-down"></i> 购买</a>
							</li>
							<li class="dropdown hidden-xs">
								<a class="right-sidebar-toggle" aria-expanded="false">
									<i class="fa fa-tasks"></i> 主题
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="row content-tabs">
					<button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
					<nav class="page-tabs J_menuTabs">
						<div class="page-tabs-content">
							<a href="javascript:;" class="active J_menuTab" data-id="{{HomeUrl}}">首页</a>
						</div>
					</nav>
					<button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
					<div class="btn-group roll-nav roll-right">
						<button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>
                    </button>
						<ul role="menu" class="dropdown-menu dropdown-menu-right">
							<li class="J_tabShowActive">
								<a>定位当前选项卡</a>
							</li>
							<li class="divider"></li>
							<li class="J_tabCloseAll">
								<a>关闭全部选项卡</a>
							</li>
							<li class="J_tabCloseOther">
								<a>关闭其他选项卡</a>
							</li>
						</ul>
					</div>
					<a href="javascript:;" class="roll-nav roll-right J_tabExit" @click="loginOut()"><i class="fa fa fa-sign-out"></i> 退出</a>
				</div>
				<div class="row J_mainContent" id="content-main">
					<iframe class="J_iframe" name="iframe0" width="100%" height="100%"  frameborder="0" v-bind:src="HomeUrl" data-id="{{HomeUrl}}" seamless></iframe>
				</div>
				<div class="footer">
					<div class="pull-right" v-html="Footer">
						<!--内容框底部-->
					</div>
				</div>
			</div>
			<!--右侧部分结束-->
			<!--右侧边栏开始-->
			<div id="right-sidebar">
				<div class="sidebar-container">

					<ul class="nav nav-tabs navs-3">

						<li class="active">
							<a data-toggle="tab" href="#tab-1">
								<i class="fa fa-gear"></i> 主题
							</a>
						</li>
						<li class="">
							<a data-toggle="tab" href="#tab-2">
								通知
							</a>
						</li>
						<li>
							<a data-toggle="tab" href="#tab-3">
								项目进度
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div id="tab-1" class="tab-pane active">
							<div class="sidebar-title">
								<h3> <i class="fa fa-comments-o"></i> 主题设置</h3>
								<small><i class="fa fa-tim"></i> 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>
							</div>
							<div class="skin-setttings">
								<div class="title">主题设置</div>
								<div class="setings-item">
									<span>收起左侧菜单</span>
									<div class="switch">
										<div class="onoffswitch">
											<input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
											<label class="onoffswitch-label" for="collapsemenu">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
										</div>
									</div>
								</div>
								<div class="setings-item">
									<span>固定顶部</span>

									<div class="switch">
										<div class="onoffswitch">
											<input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
											<label class="onoffswitch-label" for="fixednavbar">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
										</div>
									</div>
								</div>
								<div class="setings-item">
									<span>
                        固定宽度
                    </span>

									<div class="switch">
										<div class="onoffswitch">
											<input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
											<label class="onoffswitch-label" for="boxedlayout">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
										</div>
									</div>
								</div>
								<div class="title">皮肤选择</div>
								<div class="setings-item default-skin nb">
									<span class="skin-name ">
                         <a href="#" class="s-skin-0">
                             默认皮肤
                         </a>
                    </span>
								</div>
								<div class="setings-item blue-skin nb">
									<span class="skin-name ">
                        <a href="#" class="s-skin-1">
                            蓝色主题
                        </a>
                    </span>
								</div>
								<div class="setings-item yellow-skin nb">
									<span class="skin-name ">
                        <a href="#" class="s-skin-3">
                            黄色/紫色主题
                        </a>
                    </span>
								</div>
							</div>
						</div>
						<div id="tab-2" class="tab-pane">

							<div class="sidebar-title">
								<h3> <i class="fa fa-comments-o"></i> 最新通知</h3>
								<small><i class="fa fa-tim"></i> 您当前有10条未读信息</small>
							</div>

							<div>

								<div class="sidebar-message">
									<a href="#">
										<div class="pull-left text-center">
											<img alt="image" class="img-circle message-avatar" src="/libs/hplus/img/a1.jpg">

											<div class="m-t-xs">
												<i class="fa fa-star text-warning"></i>
												<i class="fa fa-star text-warning"></i>
											</div>
										</div>
										<div class="media-body">

											占位占位占位占位占位占位
											<br>
											<small class="text-muted">今天 4:21</small>
										</div>
									</a>
								</div>
								<div class="sidebar-message">
									<a href="#">
										<div class="pull-left text-center">
											<img alt="image" class="img-circle message-avatar" src="/libs/hplus/img/a2.jpg">
										</div>
										<div class="media-body">
											占位占位占位占位
											<br>
											<small class="text-muted">昨天 2:45</small>
										</div>
									</a>
								</div>
								<div class="sidebar-message">
									<a href="#">
										<div class="pull-left text-center">
											<img alt="image" class="img-circle message-avatar" src="/libs/hplus/img/a3.jpg">

											<div class="m-t-xs">
												<i class="fa fa-star text-warning"></i>
												<i class="fa fa-star text-warning"></i>
												<i class="fa fa-star text-warning"></i>
											</div>
										</div>
										<div class="media-body">
											写的好！与您分享
											<br>
											<small class="text-muted">昨天 1:10</small>
										</div>
									</a>
								</div>
								<div class="sidebar-message">
									<a href="#">
										<div class="pull-left text-center">
											<img alt="image" class="img-circle message-avatar" src="/libs/hplus/img/a4.jpg">
										</div>

										<div class="media-body">
											占位占位占位占位占位占位占位占位
											<br>
											<small class="text-muted">昨天 8:37</small>
										</div>
									</a>
								</div>
								<div class="sidebar-message">
									<a href="#">
										<div class="pull-left text-center">
											<img alt="image" class="img-circle message-avatar" src="/libs/hplus/img/a8.jpg">
										</div>
										<div class="media-body">

											占位占位占位占位占位占位占位占位占位占位
											<br>
											<small class="text-muted">今天 4:21</small>
										</div>
									</a>
								</div>
								<div class="sidebar-message">
									<a href="#">
										<div class="pull-left text-center">
											<img alt="image" class="img-circle message-avatar" src="/libs/hplus/img/a7.jpg">
										</div>
										<div class="media-body">
											这哥们的新视频又来了，创意杠杠滴，帅炸了！
											<br>
											<small class="text-muted">昨天 2:45</small>
										</div>
									</a>
								</div>
								<div class="sidebar-message">
									<a href="#">
										<div class="pull-left text-center">
											<img alt="image" class="img-circle message-avatar" src="/libs/hplus/img/a3.jpg">

											<div class="m-t-xs">
												<i class="fa fa-star text-warning"></i>
												<i class="fa fa-star text-warning"></i>
												<i class="fa fa-star text-warning"></i>
											</div>
										</div>
										<div class="media-body">
											最近在补追此剧，特别喜欢这段表白。
											<br>
											<small class="text-muted">昨天 1:10</small>
										</div>
									</a>
								</div>
								<div class="sidebar-message">
									<a href="#">
										<div class="pull-left text-center">
											<img alt="image" class="img-circle message-avatar" src="/libs/hplus/img/a4.jpg">
										</div>
										<div class="media-body">
											我发起了一个投票 【你认为下午大盘会翻红吗？】
											<br>
											<small class="text-muted">星期一 8:37</small>
										</div>
									</a>
								</div>
							</div>

						</div>
						<div id="tab-3" class="tab-pane">

							<div class="sidebar-title">
								<h3> <i class="fa fa-cube"></i> 最新任务</h3>
								<small><i class="fa fa-tim"></i> 您当前有14个任务，10个已完成</small>
							</div>

							<ul class="sidebar-list">
								<li>
									<a href="#">
										<div class="small pull-right m-t-xs">9小时以后</div>
										<h4>市场调研</h4> 按要求接收教材；

										<div class="small">已完成： 22%</div>
										<div class="progress progress-mini">
											<div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
										</div>
										<div class="small text-muted m-t-xs">项目截止： 4:00 - 2015.10.01</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="small pull-right m-t-xs">9小时以后</div>
										<h4>可行性报告研究报上级批准 </h4> 编写目的编写本项目进度报告的目的在于更好的控制软件开发的时间,对团队成员的 开发进度作出一个合理的比对

										<div class="small">已完成： 48%</div>
										<div class="progress progress-mini">
											<div style="width: 48%;" class="progress-bar"></div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="small pull-right m-t-xs">9小时以后</div>
										<h4>立项阶段</h4> 东风商用车公司 采购综合综合查询分析系统项目进度阶段性报告武汉斯迪克科技有限公司

										<div class="small">已完成： 14%</div>
										<div class="progress progress-mini">
											<div style="width: 14%;" class="progress-bar progress-bar-info"></div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="label label-primary pull-right">NEW</span>
										<h4>设计阶段</h4>
										<!--<div class="small pull-right m-t-xs">9小时以后</div>-->
										项目进度报告(Project Progress Report)
										<div class="small">已完成： 22%</div>
										<div class="small text-muted m-t-xs">项目截止： 4:00 - 2015.10.01</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="small pull-right m-t-xs">9小时以后</div>
										<h4>拆迁阶段</h4> 科研项目研究进展报告 项目编号: 项目名称: 项目负责人:

										<div class="small">已完成： 22%</div>
										<div class="progress progress-mini">
											<div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
										</div>
										<div class="small text-muted m-t-xs">项目截止： 4:00 - 2015.10.01</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="small pull-right m-t-xs">9小时以后</div>
										<h4>建设阶段 </h4> 编写目的编写本项目进度报告的目的在于更好的控制软件开发的时间,对团队成员的 开发进度作出一个合理的比对

										<div class="small">已完成： 48%</div>
										<div class="progress progress-mini">
											<div style="width: 48%;" class="progress-bar"></div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="small pull-right m-t-xs">9小时以后</div>
										<h4>获证开盘</h4> 编写目的编写本项目进度报告的目的在于更好的控制软件开发的时间,对团队成员的 开发进度作出一个合理的比对

										<div class="small">已完成： 14%</div>
										<div class="progress progress-mini">
											<div style="width: 14%;" class="progress-bar progress-bar-info"></div>
										</div>
									</a>
								</li>

							</ul>

						</div>
					</div>

				</div>
			</div>
			<!--右侧边栏结束-->
			<!--mini聊天窗口开始-->
			<div class="small-chat-box fadeInRight animated">

				<div class="heading" draggable="true">
					<small class="chat-date pull-right">
                    2015.9.1
                </small> 与 Beau-zihan 聊天中
				</div>

				<div class="content">

					<div class="left">
						<div class="author-name">
							Beau-zihan <small class="chat-date">
                        10:02
                    </small>
						</div>
						<div class="chat-message active">
							你好
						</div>

					</div>
					<div class="right">
						<div class="author-name">
							游客名字
							<small class="chat-date">
                            11:24
                        </small>
						</div>
						<div class="chat-message">
							占位占位占位占位占位
						</div>
					</div>
					<div class="left">
						<div class="author-name">
							Beau-zihan
							<small class="chat-date">
                            08:45
                        </small>
						</div>
						<div class="chat-message active">
							占位占位占位占位占位
						</div>
					</div>
					<div class="right">
						<div class="author-name">
							游客
							<small class="chat-date">
                            11:24
                        </small>
						</div>
						<div class="chat-message">
							占位占位占位占位占位
						</div>
					</div>
					<div class="left">
						<div class="author-name">
							占位占位占位占位
							<small class="chat-date">
                            08:45
                        </small>
						</div>
						<div class="chat-message active">
							1.占位
							<br> 2.占位
						</div>
					</div>

				</div>
				<div class="form-chat">
					<div class="input-group input-group-sm">
						<input type="text" class="form-control"> <span class="input-group-btn"> <button
                        class="btn btn-primary" type="button">发送
                </button> </span>
					</div>
				</div>

			</div>
			<div id="small-chat" style="visibility: hidden;">
				<span class="badge badge-warning pull-right">5</span>
				<a class="open-small-chat">
					<i class="fa fa-comments"></i>

				</a>
			</div>
			<!--mini聊天窗口结束-->
		</div>
		<!-- 全局js -->
		<script src="libs/metisMenu/jquery.metisMenu.js"></script>
		<script src="libs/slimscroll/jquery.slimscroll.min.js"></script>
<!--		<script src="libs/layer/layer.min.js"></script>-->

		<!-- 自定义js -->
		<script type="text/javascript" src="libs/hplus/js/hplus.js"></script>
		<script type="text/javascript" src="libs/hplus/js/contabs.js"></script>

		<!-- 第三方插件 -->
		<script src="libs/pace/pace.min.js"></script>
		<script type="text/javascript">
			var modalLayerList = [];
			new Vue({
			    el: 'body',
			    data: $App.Info,
			    ready:ready,
			    methods:{
			    	loginOut:loginOut
			    }
			});
			function ready(){
				var url = $App.ApiRoot+"/Auth/PermissionTest";
				$.ajax({
					url:url,
					type:"POST",
					context:this,
					loading:false,
					data:{
						Funcs:$App.FuncPermissions
					},
					dataType:"json",
					success:function(result,status,xhr){
						var data=result.Data;
						//检测权限并刷新用户信息
						var userInfo = data._UserInfo;
						var userTitle = "普通用户";
						switch(userInfo.OrgType){
							case 1: userTitle="商家";break;
							case 2: userTitle="秒赚运营商";break;
							case 3: userTitle="公益组织";break;
							case 4: userTitle="易货运营商";break;
							case 5: userTitle="易货经纪人";break;
						}
						$App.Info.userInfo.hasValTag=true;
						$App.Info.userInfo.userName = userInfo.UserName;
						$App.Info.userInfo.userAccount = userInfo.UserAccount;
						$App.Info.userInfo.token = userInfo.Token;
						$App.Info.userInfo.customerPhoto = userInfo.CustomerPhoto;
						$App.Info.userInfo.orgCode = userInfo.OrgCode;
						$App.Info.userInfo.orgStatus = userInfo.OrgStatus;
						$App.Info.userInfo.orgType = userInfo.OrgType;
						$App.Info.userInfo.userTitle=userTitle;
						//设置当前界面显示的用户相关信息
						delete data._UserInfo;
						$App.Info.userInfo.funcPermission=data;
					}
				});
			};
			
			/**
			 * 退出登陆
			 */
			function loginOut(){
				$.ajax({
					url:$App.ApiRoot+"/Auth/LoginOut",
					type:"GET",
					context:this,
					dataType:"json",
					success:function(result,status,xhr){
						if (result.Code!=100) {
							return false;
						}
						$App.msg("退出成功！");
						$App.go($App.RootUrl+"/login.html");
					}
				});
			};
		</script>
	</body>
</html>